.fset {
  border: 1px solid tomato;
}
.fset legend {
  font-size: x-large;
  font-weight: bold;
  color: tomato;
}

.edit:hover,
.delete:hover {
  color: #34ebd5;
  cursor: pointer;
}
.list {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.ltitle {
  vertical-align: 3px;
}
.ltitle:hover{
    cursor: none;
    color: #34ebd5;
}
