.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App-link {
  text-align: center;
  color: #34ebd6c7;
}

.main {
  margin: auto;
  border: 1px solid #34ebd5;
  width: 80%;
  height: 80vh;
  box-shadow: 0px 2px 4px 0px #34ebd5;
  display: flex;
  color: white;
  border-radius: 5px;
}

.sidebar {
  flex: 1;
  border-right: 1px solid #34ebd5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  /* margin: auto; */
}
